@model IEnumerable<LanchesMac.Models.Lanche>


<div>
    <h1>Lanches Cadastrados</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var lanche in Model)
{
    <div>
        <h4>lanche : @lanche.Nome</h4>
        <p>
            <img src="@lanche.ImagemUrl">
         </p>
         <p>Preço : @lanche.Preco.ToString("C")</p>
    </div>
}