@model Lanche

<div class="col-xl-3 col-md-3 col-sm-3">
    <p> <img src="@Model.ImagemUrl" class="img-fluid"> </p>
    <h3>Preço : @Model.Preco.ToString("C")</h3>
    <h4>@Model.Nome</h4>
    <p>@Model.DescricaoCurta</p>

</div>